<div class="container">
  <div class="row">
    <h4>Issued Users</h4>
    <table class="table">
      <thead>
        <tr><th>Name</th><th>Email</th><th>Delete</th></tr>
      </thead>
      <tbody>
        {{#each itemController="user"}}
        <tr>
          <td>{{name}}</td>
          {{#if isEditingEmail}}
            <td>
              {{edit-user-email value=email focus-out="acceptChanges" insert-newline="acceptChanges" }}
            </td>
          {{else}}
            <td {{action "editEmail" on="doubleClick"}}>{{email}}</td>
          {{/if}}
          <td><a href="#" {{action "deleteUser"}}>Delete</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <p>{{#link-to "users.new"}}Add a User{{/link-to}}</p>
    {{ outlet }}
  </div>
</div>
